<!DOCTYPE html>
<html></html>
<head>
    <meta charset="UTF-8"/>
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css"/>    
</head>
<body>
    <div class="central">     
        <% include ./partials/header %>
        <h1><%= titleMovie %></h1>
        <div>
            <% for(movie of frenchMovies) {%>
                <div><%= movie.title %> - <%= movie.year %></div>
            <% } %>
        </div>
        <br>
        <div>
            <form action="/movies" method="post">
                <label for="movieTitle">Titre du film</label>
                <input type="text" name="movieTitle" id="movieTitle"/>
                <label for="movieYear">Année du film</label>
                <input type="text" name="movieYear" id="movieYear"/>
                <button type="submit">AJOUTER</button>
            </form>
        </div>
        
    </div>
    <% include ./partials/footer %>
</body>