<!DOCTYPE html>
<html></html>
<head>
    <meta charset="UTF-8"/>
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css"/>    
</head>
<body>
    <div class="central">     
        <% include ./partials/header %>
        <h1><%= titleMovie %></h1>
        <div class="french-movies">
            <% for(movie of frenchMovies) {%>
                <div><%= movie.title %> - <%= movie.year %></div>
            <% } %>
        </div>
        <br>
        <div>
            <form action="/movies" method="post">
                <label for="movieTitle">Titre du film</label>
                <input type="text" name="movieTitle" id="movieTitle"/>
                <label for="movieYear">Année du film</label>
                <input type="text" name="movieYear" id="movieYear"/>
                <button type="submit">AJOUTER</button>
            </form>
        </div>
        
    </div>
    <% include ./partials/footer %>
    <script>
        const form=document.querySelector('form');
        form.addEventListener('submit', addMovie);

        function addMovie(evt){
            event.preventDefault();
            if (window.fetch){
                fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkStatus)
                .catch(function(error){
                    console.log('request failed',error);
                })
            } else {
                // jQuery, XHR
            }

            function checkStatus(response){
                if (response.status >= 200 && response.status < 300) {
                    let newMovieDiv = document.createElement('div');
                    const movieTitle = document.getElementById('movieTitle').value;
                    const movieYear = document.getElementById('movieYear').value;
                    newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;
                    document.querySelector(".french-movies").appendChild(newMovieDiv);
                    form.reset();
                }
            }
        }
    </script>
</body>